{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}

    <form class="form-signin" action="{{ path('app_admin_article_new') }}"  method="post">


        <h1 class="h3 mb-3 font-weight-normal">CREATE ARTICLE</h1>

        <input type="text" name="title" id="title" class="form-control" placeholder="title" required>
        <input type="text" name="content" id="content" class="form-control" placeholder="content" required>
        <input type="text" name="author" id="author" class="form-control" placeholder="author" required>

        {#<input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >#}

        {#<div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>#}
        <a href="#">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        </a>
    </form>
{% endblock %}